html, body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
	
}
:root {
	--orange: #FF7E00;
	--black: #000000;
	--white: #FFFFFF;
	
	
}

/***********************************************/
/**Scroll Bar **********************************/
/***********************************************/
/* width */
::-webkit-scrollbar {
  width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(1,1,1,0);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(1,1,1,0);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(1,1,1,0);
}













.content-grid {
	max-width: 100%;
	margin: 0 auto;
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.content-grid .card {
	background-color: dodgerblue;
	color: white;
	padding: 1rem;
	height: 4rem;
}
.content-table-wrapper .content-table { border-collapse: collapse; width: 100%; }
.content-table-wrapper .content-table tr td {padding: 0; margin: 0;}
.content-table-wrapper .content-table .content-table-title-main {
	width: 100%;
	height: 100vh;
	font-size: 7em;
	text-align: center;
	padding: 0 10rem;
	background-color: var(--orange);
	
}


.content-table-wrapper .content-table .content-table-image-column {
	width: 100%;
	color: var(--white);
	font-size: 7em;
	text-align: center;
}

/* Image Letters */
.content-table-wrapper .content-table .content-table-image-parallax {
	width: 100%;
	border: 0;
	outline: 0;
	position: relative;
	left:0;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 35%;
	background-size: 100%;
}
.content-table-wrapper .content-table .c .content-table-image-parallax {
	background-image: url('../../wtf-creativity/images/1_C_ComfortZone.png');
}
.content-table-wrapper .content-table .r .content-table-image-parallax {
	background-image: url('../../wtf-creativity/images/2_R_Results.png');
}
.content-table-wrapper .content-table .e .content-table-image-parallax {
	background-image: url('../../wtf-creativity/images/3_E_ExpressYourself.png');
}
.content-table-wrapper .content-table .a .content-table-image-parallax {
	background-image: url('../../wtf-creativity/images/4_A_Artist.png');
}
.content-table-wrapper .content-table .t .content-table-image-parallax {
	background-image: url('../../wtf-creativity/images/5_T_OutsideOfBox.png');
}
.content-table-wrapper .content-table .i .content-table-image-parallax {
	background-image: url('../../wtf-creativity/images/6_I_i_Am_Me.png');
}
.content-table-wrapper .content-table .v .content-table-image-parallax {
	background-image: url('../../wtf-creativity/images/7_V_Variety.png');
}
.content-table-wrapper .content-table .i2 .content-table-image-parallax {
	background-image: url('../../wtf-creativity/images/8_I_Improve.png');
}
.content-table-wrapper .content-table .t2 .content-table-image-parallax {
	background-image: url('../../wtf-creativity/images/9_T_TackleObstacles.png');
}
.content-table-wrapper .content-table .y .content-table-image-parallax {
	background-image: url('../../wtf-creativity/images/10_y_years.png');
}



.content-table-wrapper .content-table .conclusion {
	width: 100%;
	border: 0;
	outline: 0;
	position: relative;
	left: 0;
	background-color: var(--black);
	color: var(--white);
}

.section .conclusion {
	width: 100%;
	height: 100vh;
	background-color: var(--black);
	
}




.content-table-image-column {
	position: relative;
}

.content-table-text-wrapper {
	position: absolute;
	z-index: 1000;
	left: 50%;
	top: 50%;
    width: 100%;
	transform: translate(-50%,-50%);
	min-height: 100vh;
}

.content-table-text-wrapper p {
	font-size: 0.5em;	
}

.toTop {
	cursor: pointer;
}






.blackScreen {
	width: 100vw;
	height: 100vw;
	background-color: var(--black);
	display: none;
	position: fixed;
	z-index: 100000;
}





section {
	min-height: 100vh;
	background:red;
	border: 5px solid white;
}






.footer .logo {
	width: 25%;
}

.hidden {
	display: none;
}
